{% extends "base" %}

{% block content %}
{% include 'playarea' %}
{% endblock %}

{% block editarea %}
{% include 'prediction' %}

<form class="flexparentrow editparent" autocomplete="off" hx-get="/answer" hx-target="body" hx-swap="outerHTML"
  hx-vals='js:{"game_id": gameLogic.getGameId(), "name": getCurrentAnswer()}' hx-on:submit="flashAnswer()">

  <input type="text" class="textedit" id="answerBox" autocomplete="off" autofocus hx-get="/prediction"
    hx-target="#prediction" hx-trigger="input delay:0.1s" hx-swap="outerHTML"
    hx-vals='js:{"game_id": gameLogic.getGameId(), "name": getCurrentAnswer()}'></input>

  <button type="submit" class="answer-button">Submit</button>

</form>
{% endblock %}