<div class="flexparentcol playarea">
    <h1>Who's this SuperGM?</h1>

    {% for line in lines %}
    <div class="flexparentrow playline {% if line.animated %} fade-animation {% endif %}">
        <div class="category">{{ line.category }}</div>
        <div class="divider"></div>
        <div class="answer">{{ line.answer }}</div>
    </div>
    {% endfor %}

    <img class="fade-animation" src="{{ img_src }}" alt="Player" height="250" {% if not show_image %}
        style="display: none;" {% endif %}>

    <div class="progressbar-wrapper">
        <div class="progressbar"></div>
    </div>

    <!-- poll new categories -->
    <div hx-get="/category" hx-vals='js:{"game_id": gameLogic.getGameId(), "hint_id": gameLogic.getHintId()}'
        hx-trigger="load once delay:7s" hx-target=".playarea" hx-target-201="body" hx-swap="outerHTML"
        style="display: none;">
    </div>
</div>