<!doctype html>

<html lang="en">

{% block head %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Who's this SuperGM?</title>
    <meta name="description" content="Guess the SuperGM.">
    <meta name="author" content="Philipp Otto">

    <script src="/assets/htmx.min.js"></script>
    <script src="/assets/htmx-response-targets.js"></script>

    <link rel="stylesheet" href="/assets/game.css">

    <script>
        {% include "logic" %}
    </script>
</head>
{% endblock %}

{% block body %}

<body hx-ext="response-targets">
    <div class="flexparentrow container">

        <div class="left-chessboard"></div>

        <div class="background">

            {% block content %}
            {% endblock %}

            <div class="flexparentcol bottom">
                {% block editarea %}
                <div></div>
                {% endblock %}

                <div class="footer">
                    © Philipp Otto 2023 - Created with
                    <a href="https://www.rust-lang.org/" target=”_blank”>Rust</a>
                    and
                    <a href="https://htmx.org/" target=”_blank”>htmx</a>
                    ❤️ Hosted by
                    <a href="https://fly.io/" target=”_blank”>fly.io</a>
                    🚀
                </div>
            </div>
        </div>

        <div class="right-chessboard"></div>

    </div>
</body>
{% endblock %}

</html>