<!doctype html>

<html lang="en">

{% block head %}

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Who's this SuperGM?</title>
    <meta name="description" content="Guess the SuperGM.">
    <meta name="author" content="Philipp Otto">

    <script src="/assets/htmx.min.js"></script>
    <script src="/assets/htmx-response-targets.js"></script>

    <link rel="stylesheet" href="/assets/game.css">

    <script>
        var currentGameId = 1337;
        var currentHintId = 0;

        function generateGameId() {
            currentGameId = Math.floor(Math.random() * 16777215);
            currentHintId = 0;
            return currentGameId;
        }

        function getGameId() {
            return currentGameId;
        }

        function getHintId() {
            return ++currentHintId;
        }

        function getCurrentAnswer() {
            var submitElement = document.getElementById("answerBox");
            if (!submitElement) {
                return "";
            }
            return submitElement.value;
        }

        function flashAnswer() {
            // add delay of 50ms in case the server determines a correct answer
            setTimeout(() => {
                var submitElement = document.getElementById("answerBox");
                if (submitElement) {
                    submitElement.classList.add("flash-red");

                    // remove the flashing after a timeout to allow it to be reapplied
                    setTimeout(() => {
                        submitElement.classList.remove("flash-red");
                    }, 500);
                }
            }, 50);

        }

        function copyPrediction() {
            var submitElement = document.getElementById("answerBox");
            var predictionElement = document.getElementById("predictionBox");
            if (submitElement && predictionElement) {
                submitElement.value = predictionElement.value;

                var prediction = document.getElementById("prediction");
                if (prediction) {
                    prediction.style.display = "none";
                }
            }
        }

        htmx.on("keydown", function (evt) {
            if (evt.key === 'Tab') {
                copyPrediction();
                evt.preventDefault();
                evt.stopPropagation();
            }
        });
    </script>
</head>
{% endblock %}

{% block body %}

<body hx-ext="response-targets">
    <div class="flexparentrow container">

        <div class="left-chessboard"></div>

        <div class="background">

            {% block content %}
            {% endblock %}

            <div class="flexparentcol bottom">
                {% block editarea %}
                <div></div>
                {% endblock %}

                <div class="footer">
                    © Philipp Otto 2023 - Created with
                    <a href="https://www.rust-lang.org/" target=”_blank”>Rust</a>
                    and
                    <a href="https://htmx.org/" target=”_blank”>htmx</a>
                    ❤️ Hosted by
                    <a href="https://fly.io/" target=”_blank”>fly.io</a>
                    🚀
                </div>
            </div>
        </div>

        <div class="right-chessboard"></div>

    </div>
</body>
{% endblock %}

</html>