<div class="flexparentcol playarea">
    <h1>Who's that SuperGM?</h1>

    {% for line in lines %}
    <div class="flexparentrow playline">
        <div class="category">{{ line.category }}</div>
        <div class="divider"></div>
        <div class="answer">{{ line.answer }}</div>
    </div>
    {% endfor %}

    <div class="progressbar-wrapper">
        <div class="progressbar"></div>
    </div>

    <!-- poll new categories -->
    <div hx-get="/category" hx-vals='js:{"game_id": getGameId()}' hx-trigger="load once delay:7s" hx-target=".playarea"
        hx-swap="outerHTML" style="display: none;">
    </div>

</div>